uvicorn
fastapi
numpy==2.2.2
pandas==2.2.3
Pillow==11.1.0
protobuf==5.29.3
pydantic==2.11.3
pydantic_settings==2.7.1
google-cloud-secret-manager
geneview==0.2.1
matplotlib==3.10.0
pydantic_settings==2.7.1
google-cloud-storage
pg8000==1.31.2
SQLAlchemy==2.0.40
cloud-sql-python-connector==1.18.1
gunicorn==23.0.0
functions-framework==3.8.2
Werkzeug==3.0.6
